@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('projeto/android/fontes/idroid.otf') format(opentype);
    font-weight: normal;
}

    /*
    cor1: #89CDA5;
    cor2: #5CBE7D;
    cor3: #1A5A37;
    */

    :root{
        --cor1: #89CDA5;
        --cor2: #5CBE7D;
        --cor3: #1A5A37;

        --font-padrão: Arial, Verdana, Helvetica, sans-serif;
        --font-destaque:'Bebas Neue', sans-serif;
        --font-android: 'idroid', sans-serif;
    } 
    /* ":ROOT" É  A PARTE ONDE DECLARAMOS VARIÁVEIS DO CSS. E SEMPRE COMEÇA COM DOIS TRAÇOS "--" E O NOME DA VARIÁVEL DEPOIS. */

    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-color: var(--cor1);
        font-family: var(--font-padrão);
        margin: 0px;
    }
    a.externo::after{
        content: "\00A0\1F517";
    }
    header{
        text-align: center;
        min-height: 150px;
        margin: 0px;
        padding-top: 10px;
        background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    }
    header > h1{
        font-family: var(--font-destaque);
        font-size: 3em;
        font-weight: normal;
        color: white;
        margin-top: 30px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.264);
    }
    header > p{
        font-family: var(--font-padrão);
        font-size: 1.2em;
        color: white;
        max-width: 500px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin: auto;
    }
    nav{
        background-color: var(--cor3);
        padding: 10px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    }
    nav > a{
        font-weight: bold;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        transition-duration: 0.75s;
    }
    nav > a:hover{
        background-color: var(--cor2);
    }
    main{
        background-color: white;
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom:25px;
        padding: 20px;
        padding-bottom: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.412);
    }
    main h1{
        font-family: var(--font-android);
        color: var(--cor3);
        font-size: 2em;
        font-weight: normal;
        text-align: center;
        margin: 20px;
        padding: 2px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.271);
    }
    main h2{
        background-image: linear-gradient(to right, var(--cor1), transparent);
        font-family: var(--font-android);
        color: var(--cor3);
        font-weight: normal;
        font-size: 1.5em;
        text-align: left;
        padding: 3px 10px;
        margin: 2px;
        border-radius: 50px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.271);
    }
    main p{
        margin: 15px 0px;
        text-align: justify;
        text-indent: 35px;
        line-height: 1.9em;
        font-size: 1em;
    }
    main span{
        font-weight: bold;
        color: var(--cor3);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.189);
    }
    main a{
        font-weight: bold;
        text-decoration: none;
        color: var(--cor3);
        background-color: var(--cor1);
        padding: 2px 6px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.189);
    }
    main a:hover{
        text-decoration: underline;
    }
    img{
        display: block;
        width: 100%;
        margin: auto;
    }
    img.bugdroid{ 
        max-width: 250px;
        margin: auto;
    }
    .video{
        background-color: var(--cor3);
        margin: 0px -20px 30px -20px;
        padding: 20px;
        padding-bottom: 56.6%;
        position: relative;
        box-shadow: 2px  2px  2px rgba(0, 0, 0, 0.247);
    }
    .video > iframe{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }
    aside{
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px  3px  8px rgba(0, 0, 0, 0.247);
    }
    aside > h3{
        background-color: var(--cor3);
        color: white;
        padding: 10px;
        margin: -10px -10px 0 -10px;
        border-radius: 10px 10px 0px 0px;
    }
    aside > ul{
        list-style-type: "\1F5F8\00A0\00A0";
        list-style-position: inside;
        columns: 2;  
    }
    footer{
        color: white;
        background-color: var(--cor3);
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
    }
    footer > p > a{
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    footer a:hover{
        text-decoration: underline;
        color: var(--cor1);
    }